@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNovaThin.eot'); /* IE9 Compat Modes */
  src: url('./fonts/ProximaNovaThin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ProximaNovaThin.woff') format('woff'),
    url('./fonts/ProximaNovaThin.ttf') format('truetype'),
    url('./fonts/ProximaNovaThin.svg#0b7ebb1c86cf54829ef0c13b500be9e7')
      format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Light.eot'); /* IE9 Compat Modes */
  src: url('./fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ProximaNova-Light.woff') format('woff'),
    url('./fonts/ProximaNova-Light.ttf') format('truetype'),
    url('./fonts/ProximaNova-Light.svg#da6ddaf3cf69afbba47bd74b5010b98d')
      format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNovaRegular.eot'); /* IE9 Compat Modes */
  src: url('./fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ProximaNovaRegular.woff') format('woff'),
    url('./fonts/ProximaNovaRegular.ttf') format('truetype'),
    url('./fonts/ProximaNovaRegular.svg#2c1459d58560f08b4b0586fbe80aa4cd')
      format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Semibold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/ProximaNova-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/ProximaNova-Semibold.woff') format('woff'),
    url('./fonts/ProximaNova-Semibold.ttf') format('truetype'),
    url('./fonts/ProximaNova-Semibold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0')
      format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNovaBold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/ProximaNovaBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ProximaNovaBold.woff') format('woff'),
    url('./fonts/ProximaNovaBold.ttf') format('truetype'),
    url('./fonts/ProximaNovaBold.svg#d1e00a8fb1fd9b428ab6b90409479fde')
      format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Black.eot'); /* IE9 Compat Modes */
  src: url('./fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/ProximaNova-Black.woff') format('woff'),
    url('./fonts/ProximaNova-Black.ttf') format('truetype'),
    url('./fonts/ProximaNova-Black.svg#5216c1cacb478b35a513d81c80dc8ad7')
      format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Akrobat';
  src: url('./fonts/Akrobat-Bold.eot');
  src: url('./fonts/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Akrobat-Bold.woff') format('woff'),
    url('./fonts/Akrobat-Bold.ttf') format('truetype'),
    url('./fonts/Akrobat-Bold.svg#bff61a4db5fb15606168d32444c57f07')
      format('svg');

  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Akrobat';
  src: url('./fonts/Akrobat-Regular.eot');
  src: url('./fonts/Akrobat-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Akrobat-Regular.woff') format('woff'),
    url('./fonts/Akrobat-Regular.ttf') format('truetype'),
    url('./fonts/Akrobat-Regular.svg#24d9fa92277e9e6319561a1d49ff2a1b')
      format('svg');

  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Akrobat';
  src: url('./fonts/Akrobat-SemiBold.eot');
  src: url('./fonts/Akrobat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Akrobat-SemiBold.woff') format('woff'),
    url('./fonts/Akrobat-SemiBold.ttf') format('truetype'),
    url('./fonts/Akrobat-SemiBold.svg#c5220bbd9082def0fe13096ef74a92bf')
      format('svg');

  font-style: normal;
  font-weight: 600;
}
