.form-control {
  @include rem(padding-left, 20px);
  @include rem(padding-right, 20px);

  &--error {
    border-color: $red;
  }

  &:focus {
    border-color: $gray-light;
  }
}

.label_error {
  color: $red;

  @include rem(margin-top, 5px);
  @include rem(font-size, 14px);
}

.btn-block + .btn-block {
  margin-left: 0;
}
