.form-control {
  @include rem(padding-left, 20px);
  @include rem(padding-right, 20px);

  &--error {
    border-color: $red;
  }

  &:focus {
    border-color: $gray-light;
  }

  &[readonly] {
    border-color: #cfd2d7;
    background-color: #fff;
  }
}

.label_error {
  color: $red;

  @include rem(margin-top, 5px);
  @include rem(font-size, 14px);
}

.btn-block + .btn-block {
  margin-left: 0;
}

.btn {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

.addon-text {
  cursor: default !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.inline-form {
  .control-label {
    color: $text;
    font-weight: $fw-semi;

    @include rem(font-size, 18px);
    @include rem(margin-top, 14px);
  }
}

.share_form .input-group-addon {
  margin-right: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;

  @include rem(font-size, 24px);
  @include rem(right, 8px);
  @include rem(margin-top, -16px);

  .icon {
    @include rem(font-size, 24px);
  }

  + .form-control {
    @include rem(padding-left, 50px);
  }
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
