.page_header {
  text-align: center;

  @include rem(margin-bottom, 58px);
}

.section__title {
  color: $heading;
  font-family: $ff-alt;

  @include rem(margin-bottom, 20px);
}

.section_subtitle {
  line-height: 1.33;
  color: #657180;
  font-family: $ff-alt;

  @include rem(font-size, 30px);
  @include rem(margin-bottom, 12px);
}

.block_subscribe h5,
.block_subscribe .h5 {
  color: $heading;
  font-family: $ff-alt;
  font-weight: $fw-semi;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading;
  font-family: $ff-alt;
}
