@font-face {
  font-family: 'icon';
  src: url('./fonts/icon.eot?c8aepl');
  src: url('./fonts/icon.eot?c8aepl#iefix') format('embedded-opentype'),
    url('./fonts/icon.ttf?c8aepl') format('truetype'),
    url('./fonts/icon.woff?c8aepl') format('woff'),
    url('./fonts/icon.svg?c8aepl#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon--'],
[class*=' icon--'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: inherit;
  line-height: 1;
  display: inline-block;
  position: relative;
  top: -1px;
  margin-right: 6px;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon--drag:before {
  content: '\e959';
}
.icon--prize .path1:before {
  content: '\e900';
  color: rgb(255, 174, 44);
}
.icon--prize .path2:before {
  content: '\e901';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon--prize .path3:before {
  content: '\e902';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon--prize2:before {
  content: '\e903';
}
.icon--back:before {
  content: '\e904';
}
.icon--deadline:before {
  content: '\e906';
}
.icon--doc_file .path1:before {
  content: '\e907';
  color: rgb(13, 167, 252);
}
.icon--doc_file .path2:before {
  content: '\e908';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon--edit:before {
  content: '\e909';
}
.icon--finance:before {
  content: '\e936';
}
.icon--follow:before {
  content: '\e911';
}
.icon--jpg_file .path1:before {
  content: '\e912';
  color: rgb(255, 174, 44);
}
.icon--jpg_file .path2:before {
  content: '\e913';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon--linkedin:before {
  content: '\e914';
}
.icon--more:before {
  content: '\e915';
}
.icon--participate:before {
  content: '\e916';
}
.icon--pdf_file .path1:before {
  content: '\e917';
  color: rgb(255, 62, 46);
}
.icon--pdf_file .path2:before {
  content: '\e918';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon--result .path1:before {
  content: '\e919';
  color: rgb(171, 0, 255);
}
.icon--result .path2:before {
  content: '\e91a';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon--sent:before {
  content: '\e91b';
}
.icon--share_result:before {
  content: '\e91c';
}
.icon--vote_no:before {
  content: '\e91d';
}
.icon--vote_yes:before {
  content: '\e91e';
}
.icon--vote_list:before {
  content: '\e946';
}
.icon--xls_file .path1:before {
  content: '\e920';
  color: rgb(19, 183, 42);
}
.icon--xls_file .path2:before {
  content: '\e921';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon--pin:before {
  content: '\e923';
}
.icon--youtube:before {
  content: '\e924';
}
.icon--search:before {
  content: '\e925';
}
.icon--tw:before {
  content: '\e926';
}
.icon--fb:before {
  content: '\e927';
}
.icon--comment:before {
  content: '\e922';
}
.icon--arrow-down:before {
  content: '\e90f';
}
.icon--clock:before {
  content: '\e92c';
}
.icon--wallet:before {
  content: '\e938';
}
.icon--chevron-thin-up:before {
  content: '\e928';
}
.icon--chevron-thin-right:before {
  content: '\e929';
}
.icon--chevron-thin-left:before {
  content: '\e92a';
}
.icon--chevron-thin-down:before {
  content: '\e92b';
}
.icon--telegram:before {
  content: '\e92d';
}
.icon--reddit:before {
  content: '\e92e';
}
.icon--arrow-right-alt:before {
  content: '\ea3c';
}
.icon--arrow-left-alt:before {
  content: '\ea40';
}
.icon--envelope:before {
  content: '\e932';
}
.icon--link:before {
  content: '\e933';
}
.icon--follow_fill:before {
  content: '\e934';
}
.icon--follow_icn:before {
  content: '\e935';
}
.icon--deadline_fill:before {
  content: '\e910';
}
.icon--check:before {
  content: '\e931';
}
.icon--github:before {
  content: '\e90e';
}
.icon--instagram:before {
  content: '\e905';
}
.icon--fb_simple:before {
  content: '\e930';
}
.icon--info:before {
  content: '\e92f';
}
.icon--indeterminate_check_box:before {
  content: '\e90c';
}
.icon--check_circle:before {
  content: '\e90d';
}
.icon--check_box_outline_blank:before {
  content: '\e919';
}
.icon--check_box:before {
  content: '\e91a';
}
.icon--check_thin:before {
  content: '\e90b';
}
.icon--edit_alt:before {
  content: '\e939';
}
.icon--trash:before {
  content: '\e93c';
}
.icon--cal:before {
  content: '\e948';
}
.icon--cancel:before {
  content: '\e93b';
}
.icon--in_process:before {
  content: '\e93d';
}
.icon--in_process_simple:before {
  content: '\e947';
}
.icon--fail .path1:before {
  content: '\e93e';
  color: rgb(255, 255, 255);
}
.icon--fail .path2:before {
  content: '\e93f';
  margin-left: -1em;
  color: rgb(255, 174, 44);
}
.icon--fail .path3:before {
  content: '\e940';
  margin-left: -1em;
  color: rgb(255, 174, 44);
}
.icon--lykke:before {
  content: '\e941';
  font-size: 110%;
}
.icon--close:before {
  content: '\e942';
}
.icon--cancel_round:before {
  content: '\e943';
}
.icon--prev_transaction:before {
  content: '\e90a';
}
.icon--next_transaction {
  &:before {
    content: '\e90a';
  }
}
.icon--arrow_right_big:before {
  content: '\e93a';
}
.icon--arrow_left_big:before {
  content: '\e93a';
  display: block;
}
.icon--vote_list:before {
  content: '\e946';
}
.icon--copy:before {
  content: '\e91f';
}
.icon--polygon:before {
  content: '\e944';
}
.icon--polygon_fill:before {
  content: '\e945';
}
.icon--download:before {
  content: '\e949';
}
.icon--help_outline:before {
  content: '\e94a';
}
.icon--rename_icn:before {
  content: '\e94b';
}
.icon--star_stroke:before {
  content: '\e94c';
}
.icon--star:before {
  content: '\e94d';
}
.icon--view_icn:before {
  content: '\e94e';
}
.icon--arrow_right_circle:before {
  content: '\e94f';
}
.icon--notificaton:before {
  content: '\e953';
}
.icon--help_outline:before {
  content: '\e951';
}
.icon--save_as_draft:before {
  content: '\e952';
}
.icon--add_circle:before {
  content: '\e954';
}
.icon--add:before {
  content: '\e950';
}
.icon--qr:before {
  content: '\e94a';
}
.icon--vk:before {
  content: '\e955';
}
.icon--move_to:before {
  content: '\e956';
}
.icon--move_to_thin:before {
  content: '\e960';
}
.icon--exit:before {
  content: '\e957';
}
.icon--settings:before {
  content: '\e958';
}
.icon--finance_alt:before {
  content: '\e95d';
}
.icon--email:before {
  content: '\e962';
}
.icon--lock:before {
  content: '\e963';
}
.icon--actions:before {
  content: '\e95a';
}
.icon--qr_alt:before {
  content: '\e95b';
}
.icon--slack:before {
  content: '\e95c';
}
.icon--copy_thin:before {
  content: '\e95e';
}
.icon--done:before {
  content: '\e964';
}
.icon--recycle:before {
  content: '\e95f';
}
.icon--reverse:before {
  content: '\e961';
}
.icon--show_password:before {
  content: '\e965';
}
.icon--hide_password:before {
  content: '\e966';
}
.icon--key:before {
  content: '\e900';
}
.icon--save_template:before {
  content: '\e901';
}
.icon--details:before {
  content: '\e902';
}
.icon--repeat:before {
  content: '\e903';
}
