@import '../../styles/utils';

.table_assets {
  border-collapse: collapse;
  width: 100%;
  color: $secondary;

  @include rem(font-size, 16px);
  @include rem(margin-top, 10px);
  @include rem(margin-bottom, 45px);

  td._currency {
    color: $gray-dark;
    letter-spacing: 0.18px;
    white-space: nowrap;
  }

  td._amount {
    white-space: nowrap;
  }

  .btn--icon {
    @include rem(margin, -5px 0);

    .icon {
      @include rem(margin-left, 4px);

      &--qr_alt {
        position: relative;
        top: -2px;
        opacity: 0.8;
      }

      &--actions {
        @include rem(font-size, 24px);
      }
    }
  }

  tr {
    th {
      font-weight: $fw-semi;

      @include rem(padding, 16px 20px 16px 0);
    }

    td {
      @include rem(padding, 6px 20px 5px 0);
    }

    th,
    td {
      text-align: right;
      border-bottom: solid 1px $border-alt;

      &:first-child {
        width: 50%;
        text-align: left;
      }
    }
  }
}

.issuer {
  display: table;
  width: 100%;

  &__img,
  &__content {
    display: table-cell;
    vertical-align: middle;
  }

  &__img {
    vertical-align: top;
    position: relative;

    @include rem(padding-right, 14px);
    @include rem(width, 62px);
    @include rem(height, 48px);

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      margin-top: 4px;
      width: 100%;
      height: 4px;
      left: 0;
      background-color: $white;
    }

    img {
      width: 48px;
      height: 48px;
      border-radius: $border-radius;
      padding: 7px;
      box-shadow: inset 0 0 0 1px rgba(63, 77, 96, 0.1);
    }
  }

  &__content {
    color: $secondary;
    letter-spacing: 0;

    @include rem(font-size, 18px);
  }

  &__desc {
    color: $gray-dark;
    text-transform: uppercase;
    font-weight: $fw-semi;

    @include rem(font-size, 11px);
    @include rem(letter-spacing, 2px);
    @include rem(margin-top, 5px);

    a {
      color: $primary;
      text-decoration: none;
    }

    &--accent {
      color: $primary;
    }
  }
}

.asset-menu {
  .icon {
    position: relative;
    top: -2px;

    @include rem(margin-right, 10px);
  }

  &__item {
    &_disabled {
      opacity: 0.6;
      cursor: not-allowed;

      a {
        cursor: not-allowed;
      }
    }
  }
}
