@import '../../styles/utils';

$screen-tablet: 768px;

.container-table-assets {
  width: 100%;
}

.table_assets {
  border-collapse: collapse;
  width: 100%;
  color: $text;
  position: relative;
  left: -6px;

  @include rem(font-size, 16px);
  @include rem(margin-top, 10px);
  @include rem(margin-bottom, 45px);

  .issuer__name {
    font-weight: $fw-semi;
    color: $heading;
    line-height: 30px;

    @include rem(font-size, 18px);
  }

  td._reserved {
    min-width: 220px;
    line-height: 25px;
    color: #ffae2c;
    white-space: nowrap;
  }

  td._currency {
    min-width: 220px;
    color: $gray-dark;
    line-height: 25px;
    white-space: nowrap;
  }

  td._amount {
    white-space: nowrap;
    min-width: 250px;
    font-weight: $fw-semi;
    color: $heading;
    line-height: 30px;

    @include rem(font-size, 18px);
  }

  td._action {
    padding: 0 10px 0 0;
    text-align: left;
    width: 44px;

    .dropdown__nav {
      width: 220px;
    }

    .dropdown-list__item {
      &.disabled {
        cursor: not-allowed;

        &:hover {
          background-color: inherit;
        }

        a {
          color: $gray-dark;
        }
      }
    }
  }

  td._amount_responsive {
    display: none;
  }

  .reserved_responsive {
    display: none;
  }

  .btn--icon {
    padding: 0;

    @include rem(margin, -5px 0);

    .icon {
      &--qr_alt {
        position: relative;
        top: -2px;
        opacity: 0.8;
      }

      &--actions {
        @include rem(font-size, 24px);
      }
    }
  }

  tr {
    cursor: pointer;

    th {
      color: $heading;
      font-weight: $fw-semi;

      @include rem(font-size, 18px);
      @include rem(padding, 16px 20px 16px 0);

      &._asset span {
        display: inline-block;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: -6px;
          top: 34px;
          width: 70px;
          height: 2px;
          background-color: $white;
        }

        @media all and (max-width: $screen-landscape) {
          &:before {
            top: 29px;
            height: 4px;
          }
        }

        @media all and (max-width: $screen-mobile) {
          &:before {
            top: 26px;
            width: 66px;
          }
        }
      }

      &._currency,
      &._reserved {
        white-space: nowrap;
      }
    }

    td {
      @include rem(padding, 6px 20px 5px 0);

      @media (max-width: $screen-tablet) {
        @include rem(padding, 13px 20px 11px 0);
      }
    }

    th,
    td {
      text-align: right;
      border-bottom: solid 1px $border-alt;

      &:first-child {
        width: 50%;
        text-align: left;
        padding-left: 6px;
      }
    }

    &:hover {
      td {
        background-color: $gray-5;
      }
    }
  }

  .icon_dot {
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background-color: $heading;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 6px;
  }

  @media (max-width: $screen-mobile) {
    .dropdown__container.actions {
      margin-left: -170px;
    }

    td._action .dropdown__nav {
      width: 180px;
    }
  }

  @media (min-width: $screen-mobile) and (max-width: $screen-tablet) {
    .dropdown__container.actions {
      margin-left: -200px;
    }
  }

  @media (max-width: $screen-tablet) {
    td._currency {
      min-width: 0;
    }

    td._amount {
      min-width: 0;
    }
  }

  @media (max-width: $screen-tablet) {
    thead,
    td._currency,
    td._reserved,
    td._amount {
      display: none;
    }

    td._asset {
      padding-top: 0;
      padding-bottom: 16px;

      .issuer {
        // overflow: hidden;
        text-overflow: ellipsis;
      }

      .qr-icn {
        bottom: -6px;
      }
    }

    .reserved_responsive {
      white-space: nowrap;
      display: block;
      font-size: 14px;
      position: absolute;
      font-weight: $fw-regular;
      top: 25px;
      line-height: 1.43;
      letter-spacing: 0.2px;
      color: #ffae2c;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
    }

    td._amount_responsive {
      display: table-cell;
      padding-bottom: 6px;

      ._amount_responsive__asset {
        font-weight: $fw-semi;
        line-height: 1.5;
        color: $heading;
      }

      ._amount_responsive__base_asset {
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.2px;
        color: $gray-dark;
      }
    }
  }

  @media (max-width: $screen-mobile-tiny) {
    .qr-icn {
      display: none;
    }

    tr td {
      border-bottom: none;
    }

    td._action {
      display: none;
    }

    // td._asset {
    //   max-width: 200px;
    // }

    // .issuer__name {
    //   white-space: nowrap;
    //   text-overflow: ellipsis;
    //   max-width: 100%;
    //   overflow: hidden;
    // }
  }
}

.issuer {
  display: table;
  width: 100%;

  &__name {
    position: relative;

    a {
      padding-right: 20px;
      color: $text;
    }

    .dropdown__nav {
      width: 160px;

      .asset-address {
        text-align: center;
        margin-top: 15px;
      }

      .asset-address-label {
        color: $gray-dark;
        line-height: 1.43;
        margin: 10px;

        @include rem(font-size, 14px);
      }
    }

    .qr {
      position: absolute;
      right: 0;
      top: 0;
    }

    .qr-icn {
      padding: 5px;
      position: relative;
      left: 5px;
      bottom: 2px;
      cursor: pointer;
    }
  }

  &__img,
  &__content {
    display: table-cell;
    vertical-align: middle;
  }

  &__img {
    vertical-align: top;
    position: relative;

    @include rem(padding-right, 14px);
    @include rem(width, 62px);
    @include rem(height, 48px);

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      margin-top: 5px;
      width: 68px;
      height: 1px;
      left: -6px;
      background-color: $white;
    }

    img {
      width: 48px;
      height: 48px;
      border-radius: $border-radius;
      padding: 7px;
    }

    @media all and (max-width: $screen-landscape) {
      &:after {
        margin-top: 4px;
        height: 2px;
      }
    }

    @media all and (max-width: $screen-tablet) {
      padding-right: 0;
    }

    @media all and (max-width: $screen-mobile) {
      &:after {
        margin-top: 3px;
      }
    }
  }

  &__content {
    color: $text;
    letter-spacing: 0;

    @include rem(font-size, 18px);
  }

  &__desc {
    color: $gray-dark;
    text-transform: uppercase;
    font-weight: $fw-semi;

    @include rem(font-size, 11px);
    @include rem(letter-spacing, 2px);
    @include rem(margin-top, 5px);

    a {
      color: $primary;
      text-decoration: none;
    }

    &--accent {
      color: $primary;
    }
  }
}

.asset-menu {
  .icon {
    position: relative;
    top: -2px;

    @include rem(margin-right, 10px);
  }
}

.asset-address-modal {
  text-align: center;

  hr {
    width: 100%;
    margin: 30px auto 40px;
  }
}
