@import '../../styles/utils';

.transfer-form {
  border-bottom: solid 1px $border-alt;

  @include rem(margin-bottom, 33px);

  &__body {
    border: solid 1px $border-alt;
    border-left: none;
    border-right: none;

    @include rem(padding, 30px 0 32px);
    @include rem(margin-bottom, 60px);

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    .wallet-select {
      &__wallet-name {
        height: 24px;
        line-height: 1.5;
        max-width: 95%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include rem(padding-top, 3px);
      }
      &__wallet-amount {
        height: 24px;
        line-height: 1.71;
        opacity: 0.6;

        @include rem(font-size, 14px);
        @include rem(padding-bottom, 2px);
      }
    }
  }
}
