@import '../../styles/utils';

.transfer__bar {
  color: #8c94a0;
  text-align: left;
  @include rem(font-size, 16px);
  @include rem(margin-bottom, 27px);

  span {
    &:first-child {
      float: left;
    }
    &:first-child::after {
      padding: 0 10px;
      content: '•';
    }
    &:last-child {
      float: right;
    }
  }
}
