@import '../../styles/utils';

.tab {
  display: inline-block;
  color: rgba($heading, 0.6);

  @include rem(font-size, 18px);

  &__link {
    color: rgba($heading, 0.6);

    @include rem(margin-right, 30px);

    &:hover {
      color: rgba($heading, 1);
    }
  }

  &--active {
    font-weight: 600;

    .tab__link {
      color: $heading;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &__pane {
    border-bottom: 1px solid $border-alt;

    @include rem(padding, 30px 0);

    p.hint {
      @include rem(font-size, 16px);
    }

    @media all and (min-width: $screen-tablet + 1) {
      @include rem(padding, 48px 100px);

      p.hint {
        margin-bottom: 0;
      }
    }
  }
}
