@import '../../styles/utils';

.wallet {
  &__trading-balance {
    font-weight: $fw-light;
    line-height: 1;

    @include rem(font-size, 50px);
  }

  .badge {
    vertical-align: middle;
    margin-left: 30px;
  }
}
