.login {
  text-align: center;
  padding: 100px 0;
  padding: 6.25rem 0; }
  .login .header_logo {
    margin-bottom: 34px;
    margin-bottom: 2.125rem; }
    .login .header_logo img {
      height: 60px;
      height: 3.75rem; }
    .login .header_logo__title {
      font-size: 36px;
      font-size: 2.25rem; }

.login-form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 430px;
  width: 26.875rem;
  padding: 0 30px;
  padding: 0 1.875rem; }
  .login-form .ant-form-item {
    padding: 0;
    margin-bottom: 25px;
    margin-bottom: 1.5625rem; }
    .login-form .ant-form-item input {
      width: 100%; }
    .login-form .ant-form-item button {
      width: 370px;
      width: 23.125rem;
      height: 50px;
      height: 3.125rem;
      padding: 10px 0;
      padding: 0.625rem 0; }
    .login-form .ant-form-item .ant-form-item-control {
      position: relative; }
    .login-form .ant-form-item .input-group-addon {
      left: 4px;
      right: auto;
      z-index: 10;
      color: #b2b8bf;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 20px;
      line-height: 1.25rem; }
      .login-form .ant-form-item .input-group-addon + .form-control {
        padding-left: 52px;
        padding-left: 3.25rem; }
    .login-form .ant-form-item .ant-form-explain {
      color: #ff3e2e;
      text-align: left;
      font-size: 12px;
      font-size: 0.75rem;
      margin: 10px 0 0 0;
      margin: 0.625rem 0 0 0; }

.has-error .form-control {
  border-color: #ff3e2e !important; }

.has-error .input-group-addon {
  background-color: transparent !important;
  color: #ff3e2e !important; }
