@import '../../styles/utils';

.login {
  text-align: center;

  @include rem(padding, 100px 0);

  .header_logo {
    @include rem(margin-bottom, 34px);

    img {
      @include rem(height, 60px);
    }

    &__title {
      @include rem(font-size, 36px);
    }
  }
}

.login-form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include rem(width, 430px);
  @include rem(padding, 0 30px);

  .form-group {
    padding: 0;

    @include rem(margin-bottom, 25px);

    input {
      width: 100%;
    }

    .input-group-addon {
      left: 4px;
      right: auto;
      z-index: 10;
      color: #b2b8bf;

      @include rem(font-size, 24px);
      @include rem(line-height, 20px);

      + .form-control {
        @include rem(padding-left, 52px);
      }
    }

    .has-success {
      .input-group-addon {
        background: inherit;
      }
      .form-control {
        border: 1px solid #cfd2d7;
      }
    }

    .form-explain {
      color: #ff3e2e;
      text-align: left;

      @include rem(font-size, 12px);
      @include rem(margin, 10px 0 0 0);
    }
  }
}

.has-error {
  .form-control {
    border-color: #ff3e2e !important;
  }

  .input-group-addon {
    background-color: transparent !important;
    color: #ff3e2e !important;
  }
}
