@import '../../styles/utils';

.form__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include rem(margin, 0 0 20px);
  .form__label {
    @include rem(font-size, 18px);
    font-weight: 600;
  }
  .form__input {
    width: 370px;
    height: 50px;
    @include rem(padding, 13px 20px);
    @include rem(font-size, 16px);
    text-align: left;
    color: #3f4d60;
  }
}

.Select-menu-outer {
  border-radius: 4px !important;
  background-color: #ffffff !important;
  box-shadow: 0 8px 50px 0 rgba(63, 77, 96, 0.4),
    0 5px 5px 0 rgba(63, 77, 96, 0.05) !important;
  @include rem(padding, 15px 15px inherit);
}
.is-focused {
  background: #f5f6f7 !important;
}
