@import '../../styles/utils';

.form__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include rem(margin, 0 0 20px);
  .form__label {
    @include rem(font-size, 18px);
    font-weight: 600;
  }
  .form__input {
    width: 370px;
    height: 50px;
    @include rem(padding, 13px 20px);
    @include rem(font-size, 16px);
    text-align: left;
    color: #3f4d60;
  }
}
