@import '../../styles/utils';

.arrow-back {
  position: relative;
  top: 98px;
}

.history-page {
  @include rem(margin-top, 63px);
  @include rem(padding, 0 100px);

  &__header {
    display: flex;
    justify-content: space-between;

    .btn-export {
      margin-top: 5px;

      img {
        margin-right: 10px;
      }
    }
  }

  &__title {
    font-family: 'Akrobat', sans-serif;
    margin-bottom: 0;
  }

  &__wallet-name {
    color: #657180;
    line-height: 1.33;
    font-family: 'Akrobat', sans-serif;

    @include rem(font-size, 30px);
  }

  @media (max-width: $screen-mobile-tiny) {
    @include rem(padding, 0 50px);
  }
}

.history-page-wrapper {
  .sticky-title {
    font-family: 'Akrobat', sans-serif;

    &__wallet-name {
      font-weight: $fw-light;

      @include rem(font-size, 40px);
    }
  }

  .transactions .transaction-filters {
    min-width: 475px;

    @media all and (max-width: $screen-mobile) {
      min-width: 450px;
    }
  }

  .transactions .transaction-filters__item {
    @media all and (max-width: $screen-mobile) {
      padding-bottom: 23px;
    }
  }
}
