@import '../../styles/utils';

.arrow-back {
  position: relative;
  top: 35px;
}

.history-page {
  @include rem(padding, 0 100px);

  &__title {
    font-family: 'Akrobat', sans-serif;
    margin-bottom: 0;
  }

  &__wallet-name {
    color: #657180;
    line-height: 1.33;
    font-family: 'Akrobat', sans-serif;

    @include rem(font-size, 30px);
  }
}

.history-page-wrapper {
  .sticky-title {
    font-family: 'Akrobat', sans-serif;

    &__wallet-name {
      font-weight: $fw-light;

      @include rem(font-size, 40px);
    }
  }
}
