@import '../../styles/utils';

.client-dialog {
  .form-group {
    margin-top: 40px;
  }

  ul {
    list-style: initial;
    margin-left: 20px;
  }

  &_confirm-disabled {
    .modal__actions {
      .btn {
        cursor: not-allowed;
        background: #f7f8f9 !important;
        color: $gray-dark !important;
      }
    }
  }

  .checkbox__label-text {
    position: relative;
    top: -3px;
  }

  .btn {
    color: #fff !important;
    background: #0388ef !important;
  }
}
