@import '../../styles/utils';

.drawer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 111;
  transition: width 4s ease-out;

  .control-label {
    @include rem(margin-bottom, 16px);
  }

  .asset_link:first-child {
    padding-top: 0;
    border-top: 0 !important;
  }

  &__body {
    background: $white;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 112;
    width: 0;
    transform: translate3d(100%, 0, 0);

    @include rem(width, 550px);
  }

  &__title {
    @include rem(margin-bottom, 30px);

    h2 {
      margin-bottom: 0;
    }

    h3 {
      color: $gray-dark;
      font-weight: $fw-light;
      letter-spacing: -0.3px;
      margin-bottom: 0;
    }
  }

  &__content {
    @include rem(padding, 58px 40px);

    .ant-form-item,
    .form-item {
      color: $secondary;

      @include rem(font-size, 16px);

      .ant-form-item-label,
      .form-item-label {
        opacity: 0.8;

        label {
          font-weight: normal;
        }
      }

      .anticon {
        width: 21px;
        height: 21px;
        color: $gray-light;

        @include rem(margin-bottom, 28px);

        &:first-child {
          @include rem(margin-right, 32px);
        }

        .ant-popover {
          width: 226px;
          height: 61.5px;
          border-radius: 1px;
          color: $secondary;
          top: 50px !important;
          background-color: $white;
          box-shadow: 0 8px 50px 0 rgba(63, 77, 96, 0.4),
            0 5px 5px 0 rgba(63, 77, 96, 0.05);

          @include rem(font-size, 16px);
          @include rem(padding, 13px 20px);
        }
      }
    }
  }

  &__footer {
    text-align: right;

    @include rem(margin-top, 60px);

    .btn--primary {
      @include rem(min-width, 260px);
    }

    .ant-btn {
      border: none;
      background: transparent;
      color: $primary;
      font-weight: $fw-semi;
      margin: 0;

      @include rem(font-size, 18px);
    }

    .ant-btn-primary {
      background: $primary;
      display: inline-block;
      color: $white;
      border: none;
      border-radius: 100px;
      height: 50px;

      @include rem(padding, 13px 60px);
    }
  }

  &__overlay {
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    -webkit-backdrop-filter: blur(5px);
    background-color: $gray-25;
  }

  &--show {
    .drawer__body {
      animation: slideIn 0.4s ease 0.1s forwards;
    }
  }
}

.step_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px $border-alt;

  @include rem(margin-bottom, 23px);
  @include rem(padding-bottom, 12px);

  h4 {
    color: $text;
    font-weight: $fw-semi;
    margin-bottom: 0;

    @include rem(font-size, 21px);
  }

  small {
    color: rgba($secondary, 0.6);
    text-transform: uppercase;

    @include rem(font-size, 13px);
    @include rem(letter-spacing, 2.4px);
  }
}

.breadcrumbs {
  background: $gray-5;

  @include rem(font-size, 16px);
  @include rem(padding, 20px 40px);

  a {
    color: inherit;
    text-decoration: none;
  }

  .icon {
    color: $gray-light;

    @include rem(margin, 0 10px);
    @include rem(font-size, 12px);
  }

  &_item {
    color: $secondary;

    &--current {
      color: rgba($secondary, 0.6);
    }
  }
}

.ant-modal-content {
  width: 370px;
  background: $white;

  @include rem(padding, 41px 40px 34px);

  .ant-modal-header {
    border: none;
    padding: 0;

    .ant-modal-title {
      font-weight: $fw-semi;
      text-align: left;
      color: $text;

      @include rem(font-size, 28px);
    }
  }

  .ant-modal-body {
    border: none;
    text-align: left;
    color: $secondary;

    @include rem(font-size, 18px);
    @include rem(padding, 10px 0 0);
    @include rem(margin-bottom, 55px);

    .modal__text {
      color: $secondary;

      @include rem(font-size, 18px);
    }
  }

  .ant-modal-footer {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .ant-btn {
      border: none;
      background: transparent;
      color: $primary;
      font-weight: $fw-semi;
      margin: 0;

      @include rem(font-size, 18px);
    }

    .ant-btn-primary {
      background: $primary;
      display: inline-block;
      color: $white;
      border: none;
      border-radius: 100px;
      height: 50px;

      @include rem(margin, 0 0 24px);
      @include rem(padding, 13px 0);

      span {
        display: inline-block;
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
