@import '../../styles/utils';

.drawer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 111;
  transition: width 4s ease-out;

  .drawer__body {
    background: #fff;
    height: 100%;
    @include rem(width, 550px);
    position: absolute;
    right: 0;
    z-index: 112;
    .drawer__breadcrumb {
      background: #f5f6f7;
      color: #3f4d60;
      @include rem(padding, 18px 40px);
      @include rem(font-size, 16px);
      @include rem(margin-bottom, 58px);
      > span {
        opacity: 0.6;
      }
    }

    .drawer__content {
      @include rem(padding, 0 40px);
      h2 {
        color: #333333;
        @include rem(font-size, 40px);
        font-weight: 600;
        margin-bottom: 0;
      }
      h3 {
        color: #8c94a0;
        @include rem(font-size, 28px);
        font-weight: 300;
        letter-spacing: -0.3px;
      }
      .step__title {
        border-bottom: solid 1px #ebedef;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include rem(margin-bottom, 23px);
        @include rem(padding-bottom, 12px);
        h4 {
          color: #333333;
          @include rem(font-size, 21px);
          font-weight: 600;
        }
        small {
          opacity: 0.6;
          @include rem(font-size, 13px);
          @include rem(letter-spacing, 2.4px);
          color: #3f4d60;
          text-transform: uppercase;
        }
      }
      .ant-form-item,
      .form-item {
        @include rem(font-size, 16px);
        color: #3f4d60;
        .ant-form-item-label,
        .form-item-label {
          opacity: 0.8;
          label {
            font-weight: normal;
          }
        }
        input {
          @include rem(font-size, 16px);
          color: #3f4d60;
          @include rem(padding, 20px 16px 20px 20px);
          &:read-only {
            border: none;
            border-bottom: solid 1px #ebedef;
            padding-left: 0;
          }
        }
        .anticon {
          width: 21px;
          height: 21px;
          color: #b2b8bf;
          @include rem(margin-bottom, 28px);
          &:first-child {
            @include rem(margin-right, 32px);
          }
          .ant-popover {
            width: 226px;
            height: 61.5px;
            border-radius: 1px;
            background-color: #ffffff;
            box-shadow: 0 8px 50px 0 rgba(63, 77, 96, 0.4),
              0 5px 5px 0 rgba(63, 77, 96, 0.05);
            padding: 13px 20px;
            @include rem(font-size, 16px);
            color: #3f4d60;
            top: 50px !important;
          }
        }
      }
    }

    .drawer__footer {
      @include rem(margin-top, 60px);
      text-align: right;
      .ant-btn {
        border: none;
        background: transparent;
        color: #0da7fc;
        @include rem(font-size, 18px);
        font-weight: 600;
        margin: 0;
      }
      .ant-btn-primary {
        background: #0da7fc;
        display: inline-block;
        color: #ffffff;
        border: none;
        border-radius: 100px;
        height: 50px;
        @include rem(padding, 13px 40px);
      }
    }
  }
  .drawer__overlay {
    position: absolute;
    z-index: 110;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    -webkit-backdrop-filter: blur(5px);
    background-color: #cfd2d7;
  }
}

.ant-modal-content {
  width: 370px;
  @include rem(padding, 41px 40px 34px);
  background: #fff;

  .ant-modal-header {
    border: none;
    padding: 0;
    .ant-modal-title {
      @include rem(font-size, 28px);
      font-weight: 600;
      text-align: left;
      color: #333333;
    }
  }

  .ant-modal-body {
    border: none;
    @include rem(font-size, 18px);
    text-align: left;
    color: #3f4d60;
    @include rem(padding, 10px 0 0);
    @include rem(margin-bottom, 55px);
    .modal__text {
      color: #3f4d60;
      @include rem(font-size, 18px);
    }
  }

  .ant-modal-footer {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .ant-btn {
      border: none;
      background: transparent;
      color: #0da7fc;
      @include rem(font-size, 18px);
      font-weight: 600;
      margin: 0;
    }
    .ant-btn-primary {
      background: #0da7fc;
      display: inline-block;
      color: #ffffff;
      border: none;
      border-radius: 100px;
      height: 50px;
      @include rem(margin, 0 0 24px);
      @include rem(padding, 13px 0);
      span {
        display: inline-block;
      }
    }
  }
}
