@import '../../styles/utils';

.drawer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 111;

  @include transform(translate(100%, 0));

  .control-label {
    @include rem(margin-bottom, 16px);
  }

  .asset_link:first-child {
    padding-top: 0;
    border-top: 0 !important;
  }

  &__breadcrumbs {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__body {
    background: $white;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 112;
    width: 0;
    max-width: 100%;
    transform: translate3d(100%, 0, 0);

    @include rem(width, 550px);
  }

  &__title {
    @include rem(margin-bottom, 30px);

    h2 {
      margin-bottom: 0;
    }

    h3 {
      color: $gray-dark;
      font-weight: $fw-light;
      letter-spacing: -0.3px;
      margin-bottom: 0;
    }
  }

  &__content {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    @include rem(padding, 58px 40px);
    @include rem(top, 60px);

    .form-item {
      color: $text;

      @include rem(font-size, 16px);

      .form-item-label {
        opacity: 0.8;

        label {
          font-weight: normal;
        }
      }
    }
  }

  &__footer {
    text-align: right;

    @include rem(margin-top, 60px);

    .btn {
      @include rem(margin-bottom, 10px);

      &--primary {
        @include rem(min-width, 260px);
      }
    }
  }

  &__overlay {
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    -webkit-backdrop-filter: blur(5px);
    background-color: $gray-25;
  }

  &--show {
    @include transform(translate(0, 0));

    .drawer__body {
      @include animation(slideIn 0.3s ease 0.05s forwards);
    }
  }

  &--overlayed {
    filter: blur(5px);

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba($gray-25, 0.5);
    }

    .drawer__overlay {
      z-index: 113;
    }
  }

  @media all and (max-height: $screen-tablet) {
    &__content {
      @include rem(padding-top, 30px);
      @include rem(padding-bottom, 30px);
    }
  }

  @media all and (max-width: $screen-mobile) {
    &__footer {
      margin-top: 30px;

      .btn {
        width: 100%;
        float: none;
      }
    }
  }
}

.step_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px $border-alt;

  @include rem(margin-bottom, 23px);
  @include rem(padding-bottom, 12px);

  h4 {
    font-weight: $fw-semi;
    margin-bottom: 0;

    @include rem(font-size, 21px);
  }

  small {
    color: rgba($text, 0.6);
    text-transform: uppercase;

    @include rem(font-size, 13px);
    @include rem(letter-spacing, 2.4px);
  }
}

.breadcrumbs {
  background: $gray-5;

  @include rem(font-size, 16px);
  @include rem(padding, 20px 40px);

  a {
    color: inherit;
    text-decoration: none;
  }

  .icon {
    color: $gray-light;

    @include rem(margin, 0 10px);
    @include rem(font-size, 12px);
  }

  &_item {
    color: $heading;

    &--current {
      color: rgba($heading, 0.6);
    }
  }
}

@keyframes slideIn {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
