@import '../../styles/utils';

.lykke-header {
  z-index: 110;

  .mobile-menu .main-menu__item {
    padding-top: 16px;
  }

  .main-menu__item {
    &:hover {
      color: $white;
    }
  }

  .social--small > li > a > i {
    font-size: 16px;
  }
}
