@import '../../styles/utils';

.wallet-tabs {
  .beta-banner,
  .kyc-banner {
    margin: 30px auto 5px;

    .app-link {
      color: $heading;
      font-family: $ff-alt;
      font-weight: $fw-semi;
      line-height: normal;
      margin-right: 30px;
      white-space: nowrap;

      @include rem(font-size, 16px);

      img {
        bottom: 2px;
        margin-right: 10px;
        position: relative;
      }

      @media all and (max-width: $screen-mobile-old) {
        display: block;
        padding: 5px;
        text-align: center;
      }
    }

    .hide-button {
      cursor: pointer;
      float: right;
      font-weight: $fw-semi;
      padding-top: 4px;
      white-space: nowrap;

      @include rem(font-size, 16px);
      @include rem(line-height, 1.5);

      @media all and (max-width: $screen-mobile-old) {
        display: block;
        padding: 10px 0 0 0;
        text-align: center;
        float: none;
      }
    }
  }

  .tab__link {
    display: block;
    margin-bottom: 15px;
  }
}
