@import '../../styles/utils';

.wallet-action-bar {
  border-bottom: solid 1px $border-alt;
  font-weight: $fw-semi;

  @include clearfix;
  @include rem(padding, 30px 0);
  @include rem(font-size, 16px);

  &__item {
    text-transform: uppercase;
    color: $text;
    float: left;
    letter-spacing: 1.6px;

    &--active {
      color: $primary;

      a {
        color: $primary;
      }
    }

    &:first-child {
      @include rem(margin-left, -20px);
    }

    a {
      @include rem(padding, 30px 20px);

      color: $text;

      &:hover {
        color: $primary;
      }
    }

    &--key {
      text-transform: initial;
      a {
        color: $primary;
      }
    }
  }

  &__button.btn {
    float: right;
    background-color: $primary;
    color: $white;
    border: none;
    border-radius: 100px;
    line-height: normal;
    height: auto;

    @include rem(margin, -8px 0);

    .icon {
      position: relative;
      top: -1px;

      @include rem(font-size, 20px);
      @include rem(margin, -10px 0 -10px -10px);
    }
  }
}

.wallet-menu {
  .icon {
    position: relative;
    top: -2px;

    @include rem(margin-right, 10px);
  }
}
