@import '../../styles/utils';

.wallet_list {
  text-align: left;
}

.wallet {
  cursor: pointer;
  border-radius: 8px;
  transition: all $transition-default;

  @include rem(margin-bottom, -1px);
  @include rem(padding, 0 100px);

  &:hover,
  &--expanded {
    background-color: $white;
    box-shadow: 0 0 3px 0 rgba(63, 77, 96, 0.08),
      0 2px 6px 0 rgba(63, 77, 96, 0.1);

    .wallet__inner {
      border-bottom-color: transparent;
    }
  }

  &--opened {
    @include rem(margin-bottom, 24px);
  }

  &__inner {
    border-bottom: 1px solid $border-alt;
    transition: border-color $transition-default;

    @include rem(padding, 45px 0);
  }

  &__title {
    font-weight: $fw-semi;
    line-height: 1.25;
    color: $text;

    @include rem(font-size, 40px);
    @include rem(margin-bottom, 15px);

    i.icon {
      color: #d8d8d8;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;

      @include rem(padding, 5px);
      @include rem(font-size, 20px);
      @include rem(margin-left, 10px);
    }
  }

  &__desc {
    line-height: 1.56;
    color: rgba($secondary, 0.8);

    @include rem(font-size, 16px);
  }

  &__total,
  &__info {
    @include rem(margin-bottom, 10px);
  }

  &__total-balance {
    line-height: 1.85;
    color: rgba($secondary, 0.6);
    text-transform: uppercase;

    @include rem(font-size, 13px);
    @include rem(letter-spacing, 2.4px);
    @include rem(margin-top, 5px);
    @include rem(margin-bottom, 8px);
  }

  &__total-balance-value {
    font-weight: $fw-light;
    line-height: 1.11;
    text-align: left;
    color: $text;

    @include rem(margin-bottom, 8px);
    @include rem(font-size, 36px);
  }

  &__figure {
    line-height: 1.5;
    color: $secondary;

    @include rem(margin-right, 5px);
    @include rem(font-size, 16px);
  }

  &__figure-val {
    line-height: 1.5;
    color: rgba($secondary, 0.6);

    @include rem(font-size, 16px);

    &--green {
      color: $green;
    }

    &--red {
      color: $red;
    }
  }

  &__balances {
    margin-top: 20px;

    @include rem(margin-top, 20px);

    table {
      border-collapse: collapse;
      width: 100%;

      @include rem(font-size, 16px);
      @include rem(margin-top, 10px);

      tr {
        border-bottom: solid 1px $border-alt;
      }

      th,
      td {
        text-align: left;

        @include rem(padding, 20px);

        &:first-child {
          width: 70%;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  @media all and(min-width: $screen-landscape + 1) {
    min-height: 245px;
  }
}
