@import '../../styles/utils';

.wallet_list {
  text-align: left;
  margin-top: -1px;
}

.wallet {
  border-radius: 8px;
  transition: all $transition-default;

  @include rem(padding, 0 20px);

  &__inner {
    border-bottom: 1px solid $border-alt;
    transition: border-color $transition-default;

    @include rem(padding, 45px 0);

    .tab {
      float: right;
      text-align: right;
      margin-top: 20px;
    }
  }

  &__title {
    font-weight: $fw-semi;
    line-height: 1.25;
    color: $heading;
    font-family: $ff-alt;
    cursor: pointer;

    @include rem(font-size, 40px);
    @include rem(margin-bottom, 15px);

    i.icon {
      color: #d8d8d8;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      transition: color $transition-default;

      @include rem(padding, 5px);
      @include rem(font-size, 20px);
      @include rem(margin-left, 10px);

      &:hover {
        color: rgba($text, 0.8);
      }
    }

    i.icon.icon--edit_alt {
      position: absolute;
      left: -35px;
      top: 13px;

      @media all and (max-width: $screen-tablet) {
        left: -30px;
      }

      @media all and (max-width: $screen-mobile) {
        left: -20px;
      }
    }
  }

  &__desc {
    line-height: 1.56;
    color: rgba($text, 0.8);

    @include rem(font-size, 16px);
  }

  &__total,
  &__info {
    @include rem(margin-bottom, 10px);
  }

  &__info {
    @include rem(padding-right, 40px);
  }

  &__total-balance {
    line-height: 1.85;
    color: rgba($text, 0.6);
    text-transform: uppercase;
    text-align: right;

    @include rem(font-size, 13px);
    @include rem(letter-spacing, 2.4px);
    @include rem(margin-top, 5px);
    @include rem(margin-bottom, 8px);

    @media all and (max-width: $screen-tablet) {
      text-align: left;
    }
  }

  &__total-balance-value {
    font-weight: $fw-light;
    line-height: 1.11;
    text-align: right;
    color: $text;

    @include rem(margin-bottom, 8px);
    @include rem(font-size, 36px);

    @media all and (max-width: $screen-tablet) {
      text-align: left;
    }
  }

  &__figure {
    line-height: 1.5;
    color: $text;

    @include rem(margin-right, 5px);
    @include rem(font-size, 16px);
  }

  &__figure-val {
    line-height: 1.5;
    color: rgba($text, 0.6);

    @include rem(font-size, 16px);

    &--green {
      color: $green;
    }

    &--red {
      color: $red;
    }
  }

  &__balances {
    @include rem(padding-top, 35px);

    h3 {
      font-weight: $fw-bold;

      @include rem(margin-bottom, 10px);

      small {
        color: $gray-dark;

        @include rem(font-size, 16px);
        @include rem(margin-left, 10px);
      }
    }
  }

  &__expanded {
    @include rem(margin-top, 20px);
  }

  &--trading {
    .wallet__title {
      cursor: initial;
    }
  }

  @media all and (max-width: $screen-tablet) {
    &__inner {
      @include rem(padding, 30px 0);
    }

    &__info {
      padding-right: 0;
    }
  }

  @media all and (min-width: $screen-tablet + 1) {
    @include rem(padding, 0 100px);
    @include rem(margin-bottom, 24px);

    &:hover,
    &--expanded {
      background-color: $white;
      box-shadow: 0 0 3px 0 rgba(63, 77, 96, 0.08),
        0 2px 6px 0 rgba(63, 77, 96, 0.1);

      .wallet__inner {
        border-bottom-color: transparent;
      }

      &.wallet--trading {
        box-shadow: none;
      }
    }
  }
}
