@import '../../styles/utils';

.transfer-qr-modal {
  .modal__content {
    width: 400px;

    @media (max-width: $screen-mobile) {
      width: inherit;
    }

    .modal__body {
      @include rem(padding, 41px 29px 34px 40px);

      .modal__actions {
        .btn {
          width: 96.35%;
        }
      }
    }
  }

  &__code {
    @include rem(margin-top, 42px);
    @include rem(margin-bottom, 5px);
    text-align: center;
  }
}
