.transfer-qr {
  padding: 10px;

  .ant-modal-title {
    font-size: 28px;
    font-weight: 600;
  }

  .transfer-qr__desc {
    color: #3f4d60;
    font-size: 18px;
    text-align: left;
  }

  .transfer-qr__img {
    text-align: center;
    margin: 0 auto;
  }
}
