.transfer {
  color: #333;
  width: 570px;
  margin: 53px auto 33px;
  h1 {
    text-align: center;
    margin-bottom: 11px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25;
  }

  h2 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.11;
    margin-bottom: 28px;
    text-align: center;
  }

  .transfer__text {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #3f4d60;
    margin-bottom: 37px;
    &--center {
      text-align: center;
    }
  }
}
