@import '../../styles/utils';

.transfer {
  color: #333;
  width: 570px;
  @include rem(margin, 0 auto 33px);
  h1 {
    font-weight: 600;
    text-align: center;
    @include rem(margin-bottom, 11px);
    @include rem(font-size, 40px);
  }

  h2 {
    @include rem(font-size, 36px);
    font-weight: 300;
    text-align: center;
    @include rem(margin-bottom, 28px);
  }

  .transfer__text {
    @include rem(font-size, 16px);
    text-align: left;
    color: #3f4d60;
    @include rem(margin-bottom, 37px);
    &--center {
      text-align: center;
    }
  }
}
