@import '../../styles/utils';

.transactions {
  .filters-row {
    @include rem(margin-top, 61px);
  }

  .transaction-filters {
    border-bottom: 1px solid $border-alt;
    padding-bottom: 20px;

    @include rem(margin, 0 100px);

    &__title {
      color: $heading;
      display: inline-block;
      line-height: 1.35;
      font-weight: $fw-semi;
      @include rem(font-size, 26px);

      @media all and (max-width: $screen-mobile-old) {
        display: block;
      }
    }

    &__item {
      color: #8c94a0;
      cursor: pointer;
      float: right;
      margin: 6px 0 0 25px;
      padding-bottom: 26px;

      @include rem(font-size, 18px);

      &_active {
        border-bottom: 2px solid $blue;
        border-radius: 1px;
        color: $heading;
        font-weight: $fw-semi;
        margin-top: 9px;
      }
    }
  }

  .transactions-table {
    @include rem(margin-top, 12px);
    @include rem(padding, 0 94px);

    &__asset-col,
    &__date-col,
    &__operation-col {
      width: 250px;
    }

    tr {
      th {
        color: $heading;
        letter-spacing: 0.2px;
        line-height: 1.67;
        text-transform: none;

        @include rem(font-size, 18px);
        @include rem(padding-bottom, 11px);

        &:first-child {
          &:before {
            margin-top: 41px;
            margin-left: -6px;

            @media all and (max-width: $screen-landscape) {
              margin-top: 35px;
            }

            @media all and (max-width: $screen-mobile) {
              margin-top: 30px;
            }
          }
        }

        &:last-child {
          &:after {
            margin-top: 41px;

            @media all and (max-width: $screen-landscape) {
              margin-top: 35px;
            }

            @media all and (max-width: $screen-mobile) {
              margin-top: 30px;
            }
          }
        }
      }

      td {
        color: $text;
        line-height: 1.5;

        @include rem(font-size, 16px);
        @include rem(padding-bottom, 3px);
        @include rem(padding-top, 6px);

        img {
          border: solid 1px rgba(63, 77, 96, 0.1);
          margin-right: 16px;
          padding: 7px;
          position: relative;
          width: 48px;
          height: 48px;
          border-radius: 4px;
        }

        &:first-child {
          line-height: 1.67;

          @include rem(font-size, 18px);

          &:before {
            margin-top: 52px;
            margin-left: -6px;

            @media all and (max-width: $screen-landscape) {
              margin-top: 50px;
            }
          }
        }

        &:last-child {
          &:after {
            margin-top: 43px;

            @media all and (max-width: $screen-landscape) {
              margin-top: 42px;
            }

            @media all and (max-width: $screen-mobile) {
              margin-top: 41px;
            }
          }
        }

        &:hover {
          cursor: initial;
        }

        .asset-col {
          display: flex;

          &__wallet_name {
            color: $gray-dark;
            line-height: 1.43;

            @include rem(font-size, 14px);
          }
        }

        .amount-col {
          @include rem(font-size, 18px);
        }
      }

      th:first-child,
      td:first-child {
        border-radius: 4px 0 0 4px;
        padding-left: 6px;

        &:before {
          content: '';
          position: absolute;
          border-bottom: 2px solid $white;
          width: 64px;
        }
      }

      th:last-child,
      td:last-child {
        border-radius: 0 4px 4px 0;
        padding-right: 6px;
        text-align: right;

        &:after {
          content: '';
          position: absolute;
          border-bottom: 1px solid $white;
          width: 6px;
        }
      }

      &:hover {
        td {
          background-color: $gray-5;
        }
      }
    }

    .table-responsive {
      @include rem(margin-bottom, 4px);
    }

    .show-more-button {
      color: $gray-dark;
      cursor: pointer;
      line-height: 1.88;
      margin-left: 65px;
    }

    .empty-state {
      margin-top: 29px;
      text-align: center;
    }

    @media all and (max-width: $screen-tablet) {
      @include rem(padding, 0 24px 0 0);
    }
  }

  .sticky-row {
    background: $white;
    position: fixed;
    top: -160px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 11111;
    transition: all 0.5s;

    &_active {
      top: 0px;
    }

    @media (max-width: $screen-desktop) {
      display: none;
    }

    .arrow-back {
      top: 40px;
    }

    .filters-row {
      margin-top: 0;

      .transaction-filters {
        padding-bottom: 11px;

        &__item {
          margin-top: 16px;

          &_active {
            margin-top: 19px;
          }
        }
      }
    }

    .transactions-table {
      .table-responsive {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
